commands:
    01-create-post-dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true
container_commands:
    01-copy-ip-filtering-file:
        command: "cp .ebextensions/runner.sh /home/ec2-user/"
        ignoreErrors: true
    02-adjust-permissions:
        command: "chmod u+x /home/ec2-user/runner.sh"
        ignoreErrors: true
    03-execute-command:
        command: "/home/ec2-user/runner.sh"
        ignoreErrors: true
    04-copy-jdbc-driver:
        command: "mv lib/ojdbc6.jar /usr/share/java/tomcat7/"
        ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_adjust_deployment.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash
        logFile="/home/ec2-user/post.deploy.status";
        if grep -q $(hostname) /etc/hosts; then
            echo "$(date) $(hostname) exists within /etc/hosts" >>$logFile;
        else
            echo "127.0.0.1 $(hostname)" >>/etc/hosts;
            echo "$(date) $(hostname) added to /etc/hosts" >>$logFile;
        fi;
        mv -f /usr/share/tomcat7/webapps/ROOT/*.war /usr/share/tomcat7/webapps/
        
        # Reload httpd settings
        service httpd graceful
